body {
  Color: DarkSlateGray;
  background-color: HoneyDew; 
}

ul {
  font-size: 20px;
}

p {
  font-size: 20px;
}

div {
  background-color: MintWhite;
  padding: 25px;
  max-width: 700px;
  margin: auto;
  border-radius: 25px;
  border: 2px solid #04AA6D;
}

a {
  
}
